.root {
    --darkestblue: #1A1A2E;
    --midblue: #16213E;
    --blue: #0F3460;
    --red: #E94560;
    --bone: #FFE7C1;
    --green: #03C988;
    background-color: #1A1A2E;
    
}

body {
    background-color: #1A1A2E;
    font-family: 'Rubik Doodle Shadow', system-ui;
    text-decoration: none;
}

body a {
    line-height: 4;
    font-family: 'Roboto', sans-serif;
    color: #FFE7C1;
    transition-duration: 200ms;
    
}

body a:hover {
    color: #E94560;
}

#note-title {
    font-family: 'Roboto', sans-serif;
    background-color: #16213E;
    color: #FFE7C1;
    border-color:#16213E;
}

#note-text {
    font-family: 'Roboto', sans-serif;
    background-color: #16213E;
    color: #FFE7C1;
    border-color:#16213E;
}

.label {
    color:#FFE7C1;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.title {
    color:#03C988;
    font-weight: lighter;
    
}

#note-title.input::placeholder {
    color: #FFE7C1;
}

#note-text.textarea::placeholder {
    color: #FFE7C1;
}

#maintitle {
    font-size: 85px;
}

.subtitle {
    font-size: 50px;
    color: #FFE7C1;
}

.navbar {
    
    background-color: #E94560;
}

.navbar-item, .navbar-link {
    color: #1A1A2E;
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 25PX;
    transition-duration: 200ms;
    font-weight: bold;
}

.navbar-link, a.navbar-item:hover {
    background-color: #E94560;
    color:#FFE7C1;
}

.footer {
    background-color: #1A1A2E;
    color: #FFE7C1;
}

#save-note {
    background-color: #03C988;
    border-style: none;
    color: #FFE7C1;
    transition-duration: 200ms;    
}

#save-note:hover {
    background-color: #FFE7C1;
    color: #03C988;
    border-style: none;
}

#clear-form {
    background-color: #E94560;
    border-style: none;
    color: #FFE7C1;
    transition-duration: 200ms;
}

#clear-form:hover {
    background-color: #FFE7C1;
    color: #E94560;
    border-style: none;
}

.button {
    background-color: #E94560;
    border-style: none;
    color: #FFE7C1;
    transition-duration: 200ms;
}

.button:hover {
    background-color: #FFE7C1;
    color: #E94560;
    border-style: none;
}